:root {
    --primary-text-color:#212121;
    --desc-text-color: #757575;
    --accent-color: #2196F3;
    --primary-background-color:#E5E5E5;
    --accent-background-color:#F5F4FA;
    --primary-white-color:#FFFFFF;
    --primary-black-color: #000000;
    --footer-backgraund-color: #2F303A;

}
*,
*::before,
*::after {
    box-sizing: border-box;
}

body{
        font-family: 'Roboto', sans-serif;
        background-color: var(--primary-white-color);
        color: var(--primary-text-color) ;
        font-size: 14px;
        letter-spacing: 0.03em;
}
.h1, 
.h2, 
.h3, 
.p, 
.ul {
    margin-top: 0;
    margin-bottom: 0;
}
ul {list-style: none; }
/* основной цвет #212121 */
/* вторичный цвет #757575 */
/*  акцент цвет #2196F3 */
/* цвет белый #FFFFFF */
/* вторичный цвет фона #F5F4FA */
/* цвет фона футер  #2F303A */

/* Шапка */
.page-header {border-bottom: 1px solid #ECECEC;}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    /* outline: 1px solid red; */
}
.main-nav {
    display: flex;
    align-items: center;
}

    /* logo */
 .logo {font-family: 'Raleway';
        font-size: 26px;
        line-height: 1.19;
        color: var(--primary-black-color);
        text-decoration: none;
    }
.web-logo {color: var(--accent-color);}
        /* nav */
.site-nav {
    display: flex;
    margin-left: 93px;
}

.site-nav .item + .item {margin-left: 50px;}

.site-nav .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--primary-text-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}
.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}

.site-nav .link.current {color: var(--accent-color);}

/* contacts */
.contacts {display: flex;
margin-left: auto;}

.contacts .item + .item {
    margin-left: 50px;
}

.contacts .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--desc-text-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}
.contacts .link:hover,
.contacts .link:focus {
    color: var(--accent-color);
}
.list {
    margin: 0;
    padding: 0;
}
/* Hero */
.hero{
    text-align: center;
}
.hero-title {
    margin-top: 0;
    margin-bottom: 30PX;
    color: var(--primary-white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    background-color: var(--footer-backgraund-color);
}
/* услуги*/
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}
.section-title {
    margin-top: 0;
    margin-bottom: 50;
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;}
.features{
    display: none;
} 
.features-list {display: flex;
    padding: 0;
    margin-bottom: 94px;
}
.features-list .item {
    width: 270px;
}
.features-list .item + .item {margin-left: 30px;}
.title{
    margin-top: 0;
    margin-bottom: 10px;
}

.features-list .title {
    color: var(--primary-text-color);
        font-size: 14px;
        font-weight: 700;
        line-height: 1.14;
        text-transform: uppercase;
}
.titel-desc { 
    color: var(--desc-text-color);
    line-height: 1.71;}

.pictures { display: flex;
    padding-left: 0;
justify-content: space-between;}
/* Команда */
.bgr-accent {
    background-color: var(--accent-background-color);}

.team-list {
    display: flex;
    justify-content: space-between;
}
.team-box {
    background-color: var(--primary-white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
}    
.team-list .title {
    margin-top: 30px;
    margin-bottom: 10px;
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;}
.team-desc { 
    margin-top:10px;
    margin-bottom: 30px;
    color: var(--desc-text-color);
    font-size: 16px;
    line-height: 1.19;
    text-align: center;}
/* Button */
button { display: inline-block;
    border-radius: 4px;
    padding: 10px 32px;  
    min-width: 200px;

    color: var(--primary-white-color);
    background-color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    text-align: center;}
.button.secondary { color: var(--primary-text-color); 
    background-color: var(--accent-background-color);} 
.button.secondary:hover,
.button.secondary:focus {color: var(--primary-white-color);
background-color: var(--accent-color);}

/* Портфолио */
.section-work {
    display: none;
}
.work-link {text-decoration: none;}
.work .title {color: var(--primary-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;}
.text {color: var(--desc-text-color);
        font-size: 16px;
        line-height: 1.87;}
/* footer */
footer {background-color: var(--footer-backgraund-color)}
.foooter { 
    display: flex;
    flex-direction: column;
}
footer .logo {
    margin-top: 60px;
    color: var(--primary-white-color);
    font-family: 'Raleway';}
address {
    font-style: normal;
}

.contact {
    margin-top: 20px;
    margin-bottom: 60px;
    padding-left: 0;
}
.contact .item + .item {margin-top: 9px;}
.link-map {color: var(--primary-white-color);
    line-height: 1.71;
    text-decoration: none;}
.contact .link {
        color: var(--desc-text-color);
        line-height: 1.71;
        text-decoration: none;
    }